<?xml version="1.0" encoding="utf-8"?>
<phpunit
  bootstrap="vendor/autoload.php"
  verbose="true"
  colors="true"
  columns="max"
  cacheResult="false"
  convertNoticesToExceptions="false"
>
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Concurrently package tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
